<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/tailwind.css">
  <script src="https://unpkg.com/socket.io-client@4.5.4/dist/socket.io.min.js"> </script>
  <script src="/static/moment.js"> </script>
  <title>ROOM</title>
  <script>const room = "<%=room%>";</script>
</head>
<body>
  <div class="max-w-4xl mx-7 overflow-hidden my-auto">
    <header class="chat-header">
      <h1> Magnolia</h1>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="flex-1 bg-gray-100">
      <div class="hidden lg:flex w-1/3 flex-2 flex-col pr-6 sidebar">
        <h3> Room Name:</h3>
        <h2 id="room-name">JavaScript</h2>
        <h3> Users</h3>
        <ul id="users">

        </ul>
      </div>
      <div class="max-h-xl overflow-y-auto p-7" id="message-list">
					<div class="p-4 mb-10 bg-blue-200 rounded-md">
						<p class="text-sm font-bold opacity-75 mb-2">Brad <span>9:12pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div>
      </div>
    </main>
    <div class="px-20 py-30 bg-green-100">
      <form class="flex" id="chat-form">
        <input
          class="text-base p-5 h-10 flex-1"
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="cursor-pointer px-3 border-0 text-lg py-4">Send</button>
      </form>
    </div>
  </div>

  <script src="/static/main.js"></script>
</body>
</html>