@tailwind base;
@tailwind utilities;
@tailwind components;

.carousel {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    flex-flow: row nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel > * {
    box-sizing: border-box;
    flex-shrink: 0;
}

.carousel::-webkit-scrollbar {
    display: none,
}
